#list {
    
    margin-left: 10px;
}
#list.title1{
    font-size:16px;font-weight: bold;
}
#list .list1{
    margin-left: 15px;
}
#list.title2{
    font-size:14px;font-weight: bold;
}
#list .list2{
    margin-left: 20px;
}
#list.title3{
    font-size:12px;
}
#list .title3:hover{
    text-decoration:underline;
    color:rgb(224, 224, 224);
}
#list .list3{
    margin-left: 25px;
}
#list .title2:hover{
    text-decoration:underline;
    color:rgb(224, 224, 224);
}

#list .title1::before,#list .title2::before{
    content: "";
    vertical-align: middle;
    padding:9px;
    background: url(../images/icon_02.png) 0px -3px;
    display: inline-block;
    margin-right: 4px;
}
#list .title3::before{
    content: "";
    vertical-align: middle;
    padding:9px;
    background:url(../images/icon_01.png);
    display:inline-block;
}

#list .nd::after{
    content: "···";
    display: none;
    float: right;
    margin-right: 10px;
}

#list .d::after{
    content: "···";
    display: block;
    float: right;
    margin-right: 10px;
}
#list .list1,#list .list2,#list .list3,#list .title1,#list .title2,#list .title3{
    cursor: pointer;
    overflow: hidden;
    transition:max-height .2s;

}
.hidden_leyuan{
    width: 10px;
    height: 30px;
    position: fixed;
    left: 230px;
    background: url(../images/icon_03.png);
    bottom: calc( 50% + 5px);
}